*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://images.blocksurvey.io/cdn-cgi/imagedelivery/G6cPOuGZ4Z_bEV13gBxixw/templates/church-forms.svg/l);
    background-size: cover;
}
form{
    color: #fff;
    width: 60%;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}
form h1{
    text-align: center;
    padding-top: 45px;
}
form .details{
    padding: 55px 55px 0 55px;
    font-size: 20px;

}
form .details input{
    width: 274px;
    height: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid gray;
}

.details .align{
    margin-left:50px;
}
form .btn2{
  justify-content: center;
  align-items: center;
    background: rgb(98, 169, 219);
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer; 
}
#msg{
    color: rgb(225, 7, 18);
    margin-top: -40px;
    display: block;
    text-align: center;
    font-size: 2em;
}

